<div id="forgot-v2-form">

    <div class="title">
        Mot de passe oublié ?
    </div>
    <div class="description">
        Réinitialisez votre mot de passe ici.
    </div>

    <form novalidate [formGroup]="user" (ngSubmit)="onSubmit()">

        <mat-input-container>
            <input matInput type="text" placeholder="Votre mail *" formControlName="email" autocomplete="off">
            <mat-hint class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                Email requis !
            </mat-hint>
            <mat-hint class="error" *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
                Email incorrect !
            </mat-hint>
        </mat-input-container>

        <button mat-raised-button [disabled]="!user.valid || submitted" color="accent" type="submit" class="submit-button">
            Reinitialiser mon mot de passe.
        </button>
    </form>

    <div class="link" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center center">
        <a routerLink="/auth/login" class="link">
            Retour au login
        </a>
    </div>

    <div class="spinner">
        <fa [name]="'circle-o-notch'" [size]=4 [spin]=true *ngIf="loading"></fa>
    </div>

</div>