<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between">

        <mat-card class="card" fxFlex="55">
            <div class="height-100" fxLayout="column" fxLayoutAlign="center center">
                <span class="uppercase">Gestion cartographie</span>
            </div>
        </mat-card>

        <mat-card class="card" fxFlex="55">
            <div class="height-100" fxLayout="column" fxLayoutAlign="center center">
                <span class="uppercase">Gestion utilisateurs</span>
            </div>
        </mat-card>

        <mat-card class="card" fxFlex="20">
            <div class="manage-equipments" fxLayout="column" fxLayoutAlign="center center">
                <span>
                    <mat-icon>
                        <i>settings_remote</i>
                    </mat-icon>
                </span>
                <span class="uppercase">Another test</span>
            </div>
        </mat-card>
    </div>

    <div fxLayout="row" class="margin-card" fxLayoutAlign="space-between">
        <mat-card class="card" fxFlex="20">
            <div fxLayout="column" fxLayoutAlign="center center" class="add-user">
                <span>
                    <mat-icon>
                        <i>person_add</i>
                    </mat-icon>
                </span>
                <span class="uppercase">And another one</span>
            </div>
        </mat-card>

        <mat-card class="card" fxFlex="55">
            <div class="height-100" fxLayout="column" fxLayoutAlign="center center">
                <span class="uppercase">Not over yet...</span>
            </div>
        </mat-card>

        <mat-card class="card" fxFlex="55">
            <div class="height-100" fxLayout="column" fxLayoutAlign="center center">
                <span class="uppercase">It is now.</span>
            </div>
        </mat-card>
    </div>
</div>